body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
    text-transform: uppercase;
}

header, footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ffc107;
}

header img.logo {
    max-width: 50px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
    width: 100%;
}

section {
    margin-bottom: 40px;
}

section h3 {
    font-size: 1.75em;
    color: #495057;
    border-bottom: 2px solid #ffc107;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

td {
    background-color: #f8f9fa;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

li:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #ffc107;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1em;
    }

    table, th, td {
        font-size: 12px;
    }

    ul {
        padding: 0;
    }

    li {
        padding: 0.4rem;
    }

    header, footer {
        padding: 10px;
    }

    header h1, header h2, footer p {
        font-size: 1.2em;
    }
}
